<HTML>
<HEAD>
<link rel="stylesheet" type="text/css" href="post.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="icon" href="favicon.ico?" type="image/x-icon">
<Title> <!-- Post Name --> </Title>
</HEAD>
<BODY>
<div class ="heading" ><h1> Yoniles.com </h1>
<!-- The line Below will be altered by some javascript. This is a placeholder in case Richard Stallman or others with an anti-javascript disposition go to my site. -->
<p>Official Website of Michael T Yoniles</P>
<div class ="nav">
	<a href="../index.html">Home</a>
	<a href="../social.html">For Employers</a>
	<a href="../blog.html">Blog</a>
	<a href="https://github.com/myoniles">Github</a>
</div>
<hr>
<div class = "nav">
	<a href="Generic_Post.html">Generic Post</a>
	<!-- Last Post Link -->
</div>
</div>
<div class="content" id="Generic Post">
<h2> <!-- Post Name --></h2>
<!-- Content -->
<h6><!-- Date --></h6>
</div>
</BODY>
</HTML>
