/*
	2x+1 Purple: (127,63,255) #7f3fff
	Background: (34,34,34) #222
	White: (255,255,255) #fff
*/


* {
    box-sizing: border-box;
	font-family:'Raleway', sans-serif;
}

html, body{
	background-color: #222;

	padding-left: 0px;
	padding-right: 0px;
	padding-top: 75px;
	padding-bottom: 0px;

	width-left: 0px;
	width-right: 0px;
	width-top: 0px;
	width-bottom: 0px;
}

.heading {
	background-color: #222;
	color: #fff;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 00px;
	padding-right: 0px;
	vertical-align: middle;
	padding-left: 0px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.heading p {
	color: #7f3fff;
} 

.nav {
	position: relative;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-color: #222;
	margin: 0px;
	width: 100%;
	margin-bottom: 0px;
}

.nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    width: 25%;
    -webkit-transition: background 1s, color 1s;
    transition: background 1s, color 1s;
}

.nav a:hover {
    background-color: #7f3fff;
    color: #222;
}

.content {
	float: center;
	padding: 5px 10px;
	width: 95%;
	height:auto;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border: 3px solid #7f3fff;
	vertical-align: middle;
	color: #fff;
}

.content h2 {
	color:#7f3fff;
	width: 100%;
	text-align:center;
	vertical-align: middle;
	word-wrap: break-word;
}

.content p {
	float:center;
	text-align: center;
	word-wrap: break-word;
	width:100%;
}


.content h6 {
	display:block;
	color:#7f3fff;
	clear:left;
	text-align:center;
}

.content a {
	color:#7f3fff;

